
{% extends 'management/base.html' %}
{% load humanize %}
{% load static %}
{% block content %}

  <!--start main wrapper-->
  <main class="main-wrapper">
    <div class="main-content">
      <!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Components</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Starter Page</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
						<div class="btn-group">
							<button type="button" class="btn btn-primary">Settings</button>
							<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
								<a class="dropdown-item" href="javascript:;">Another action</a>
								<a class="dropdown-item" href="javascript:;">Something else here</a>
								<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
							</div>
						</div>
					</div>
				</div>
				<!--end breadcrumb-->
        <div class="container mt-4">
          <h2>Add Product</h2>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.title.id_for_label }}">Title</label></h4>
                        {{ form.title }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.description.id_for_label }}">Description</label></h4>
                        {{ form.description }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.images.id_for_label }}">Images</label></h4>
                        {{ form.images }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.category.id_for_label }}">Category</label></h4>
                        {{ form.category }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.brand.id_for_label }}">Brand</label></h4>
                        {{ form.brand }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.price.id_for_label }}">Price</label></h4>
                        {{ form.price }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.sale_price.id_for_label }}">Sale Price</label></h4>
                        {{ form.sale_price }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.regular_price.id_for_label }}">Regular Price</label></h4>
                        {{ form.regular_price }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.add_stock.id_for_label }}">Add Stock</label></h4>
                        {{ form.add_stock }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.restock_quantity.id_for_label }}">Restock Quantity</label></h4>
                        {{ form.restock_quantity }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.shipping_fee.id_for_label }}">Shipping Fee</label></h4>
                        {{ form.shipping_fee }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.global_delivery.id_for_label }}">Global Delivery</label></h4>
                        {{ form.global_delivery }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.selected_countries.id_for_label }}">Selected Countries</label></h4>
                        {{ form.selected_countries }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.tags.id_for_label }}">Tags</label></h4>
                        {{ form.tags }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.collections.id_for_label }}">Collections</label></h4>
                        {{ form.collections }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.attributes.id_for_label }}">Attributes</label></h4>
                        {{ form.attributes }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.shipping_method.id_for_label }}">Shipping Method</label></h4><br>
                        <div class="form-check">
                            {{ form.shipping_method }}
                        </div>
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.is_fragile.id_for_label }}">Is Fragile?</label></h4><br>
                        <div class="form-check">
                            {{ form.is_fragile }}
                        </div>
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.is_biodegradable.id_for_label }}">Is Biodegradable?</label></h4><br>
                        <div class="form-check">
                            {{ form.is_biodegradable }}
                        </div>
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.sku.id_for_label }}">SKU</label></h4><br>
                        {{ form.sku }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.color.id_for_label }}">Color</label></h4>
                        {{ form.color }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.size.id_for_label }}">Size</label></h4>
                        {{ form.size }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.expiry_date.id_for_label }}">Expiry Date</label></h4>
                        {{ form.expiry_date }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.product_id_type.id_for_label }}">Product ID Type</label></h4>
                        {{ form.product_id_type }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 mb-3">
                    <div class="form-group">
                        <h4><label for="{{ form.product_id.id_for_label }}">Product ID</label></h4>
                        {{ form.product_id }}
                    </div>
                </div>
        
                <div class="col-12 mb-3">
                    <h3><button type="submit" class="btn btn-primary">Add Product</button></h3>
                </div>
            </div>
        </form>
        
      </div>
    </div>
  </div>
  </main>
  <!--end main wrapper-->


    <!--start overlay-->
    <div class="overlay btn-toggle"></div>
    <!--end overlay-->

     <!--start footer-->
     <footer class="page-footer">
      <p class="mb-0">Copyright © 2024. All right reserved.</p>
    </footer>
    <!--top footer-->

  <!--start cart-->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCart">
    <div class="offcanvas-header border-bottom h-70">
      <h5 class="mb-0" id="offcanvasRightLabel">8 New Orders</h5>
      <a href="javascript:;" class="primaery-menu-close" data-bs-dismiss="offcanvas">
        <i class="material-icons-outlined">close</i>
      </a>
    </div>
    <div class="offcanvas-body p-0">
      <div class="order-list">
        <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
          <div class="order-img">
            <img src="{% static 'assets/images/orders/01.png' %}" class="img-fluid rounded-3" width="75" alt="">
          </div>
          <div class="order-info flex-grow-1">
            <h5 class="mb-1 order-title">White Men Shoes</h5>
            <p class="mb-0 order-price">$289</p>
          </div>
          <div class="d-flex">
            <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
            <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
          </div>
        </div>

        <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
          <div class="order-img">
            <img src="{% static 'assets/images/orders/02.png' %}" class="img-fluid rounded-3" width="75" alt="">
          </div>
          <div class="order-info flex-grow-1">
            <h5 class="mb-1 order-title">Red Airpods</h5>
            <p class="mb-0 order-price">$149</p>
          </div>
          <div class="d-flex">
            <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
            <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
          </div>
        </div>

        <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
          <div class="order-img">
            <img src="{% static 'assets/images/orders/03.png' %}" class="img-fluid rounded-3" width="75" alt="">
          </div>
          <div class="order-info flex-grow-1">
            <h5 class="mb-1 order-title">Men Polo Tshirt</h5>
            <p class="mb-0 order-price">$139</p>
          </div>
          <div class="d-flex">
            <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
            <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
          </div>
        </div>

        <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
          <div class="order-img">
            <img src="{% static 'assets/images/orders/04.png' %}" class="img-fluid rounded-3" width="75" alt="">
          </div>
          <div class="order-info flex-grow-1">
            <h5 class="mb-1 order-title">Blue Jeans Casual</h5>
            <p class="mb-0 order-price">$485</p>
          </div>
          <div class="d-flex">
            <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
            <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
          </div>
        </div>

        <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
          <div class="order-img">
            <img src="{% static 'assets/images/orders/05.png' %}" class="img-fluid rounded-3" width="75" alt="">
          </div>
          <div class="order-info flex-grow-1">
            <h5 class="mb-1 order-title">Fancy Shirts</h5>
            <p class="mb-0 order-price">$758</p>
          </div>
          <div class="d-flex">
            <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
            <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
          </div>
        </div>

        <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
          <div class="order-img">
            <img src="{% static 'assets/images/orders/06.png' %}" class="img-fluid rounded-3" width="75" alt="">
          </div>
          <div class="order-info flex-grow-1">
            <h5 class="mb-1 order-title">Home Sofa Set </h5>
            <p class="mb-0 order-price">$546</p>
          </div>
          <div class="d-flex">
            <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
            <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
          </div>
        </div>

        <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
          <div class="order-img">
            <img src="{% static 'assets/images/orders/07.png' %}" class="img-fluid rounded-3" width="75" alt="">
          </div>
          <div class="order-info flex-grow-1">
            <h5 class="mb-1 order-title">Black iPhone</h5>
            <p class="mb-0 order-price">$1049</p>
          </div>
          <div class="d-flex">
            <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
            <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
          </div>
        </div>

        <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
          <div class="order-img">
            <img src="{% static 'assets/images/orders/08.png' %}" class="img-fluid rounded-3" width="75" alt="">
          </div>
          <div class="order-info flex-grow-1">
            <h5 class="mb-1 order-title">Goldan Watch</h5>
            <p class="mb-0 order-price">$689</p>
          </div>
          <div class="d-flex">
            <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
            <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="offcanvas-footer h-70 p-3 border-top">
      <div class="d-grid">
        <button type="button" class="btn btn-grd btn-grd-primary" data-bs-dismiss="offcanvas">View Products</button>
      </div>
    </div>
  </div>
  <!--end cart-->


  <!--start switcher-->
  <button class="btn btn-grd btn-grd-primary position-fixed bottom-0 end-0 m-3 d-flex align-items-center gap-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop">
    <i class="material-icons-outlined">tune</i>Customize
  </button>
  
  <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="staticBackdrop">
    <div class="offcanvas-header border-bottom h-70">
      <div class="">
        <h5 class="mb-0">Theme Customizer</h5>
        <p class="mb-0">Customize your theme</p>
      </div>
      <a href="javascript:;" class="primaery-menu-close" data-bs-dismiss="offcanvas">
        <i class="material-icons-outlined">close</i>
      </a>
    </div>
    <div class="offcanvas-body">
      <div>
        <p>Theme variation</p>

        <div class="row g-3">
          <div class="col-12 col-xl-6">
            <input type="radio" class="btn-check" name="theme-options" id="BlueTheme" checked>
            <h4><label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="BlueTheme">
              <span class="material-icons-outlined">contactless</span>
              <span>Blue</span>
            </label>
          </div>
          <div class="col-12 col-xl-6">
            <input type="radio" class="btn-check" name="theme-options" id="LightTheme">
            <h4><label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="LightTheme">
              <span class="material-icons-outlined">light_mode</span>
              <span>Light</span>
            </label>
          </div>
          <div class="col-12 col-xl-6">
            <input type="radio" class="btn-check" name="theme-options" id="DarkTheme">
            <h4><label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="DarkTheme">
              <span class="material-icons-outlined">dark_mode</span>
              <span>Dark</span>
            </label>
          </div>
          <div class="col-12 col-xl-6">
            <input type="radio" class="btn-check" name="theme-options" id="SemiDarkTheme">
            <h4><label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="SemiDarkTheme">
              <span class="material-icons-outlined">contrast</span>
              <span>Semi Dark</span>
            </label>
          </div>
          <div class="col-12 col-xl-6">
            <input type="radio" class="btn-check" name="theme-options" id="BoderedTheme">
            <h4><label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="BoderedTheme">
              <span class="material-icons-outlined">border_style</span>
              <span>Bordered</span>
            </label>
          </div>
        </div><!--end row-->

      </div>
    </div>
  </div>
  <!--start switcher-->

    
  {% endblock %}